@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Oswald, sans-serif;
}

.container {
  width: screen;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.twflex {
  @apply flex items-center justify-center;
}

.twcontainer {
  @apply w-screen h-[100dvh] flex flex-col items-center justify-center m-auto;
}

.twtransition {
  @apply transition-all duration-300 ease-in-out
}

